extends ../layout
include ../mixin/form

block vars
  -var title = '注册'
  -var page = 'page-signup'

block content
  form(action='/signup', method='post').span6
    h2.form-header 注册

    mixin errors()

    div.input-control.text
      mixin text('email', '邮箱')

    div.input-control.text
      mixin text('name', '用户名')

    div.input-control.text
      mixin password('pwd', '密码', {a:1})

    div.input-control.text
      mixin password('repwd', '确认密码')

    input(type='submit', value='注册')

