extends ../layout
include ../mixin/form

block vars
  -var title='创建选集'
  -var page='page-add-collection'

block content
  h2 创建选集

  mixin errors()

  form(action='/collection/add', method='post')
    div.input-control.select.span2
      //- mixin select('type', {
      //-   'culture': '文化',
      //-   'life': '生活',
      //-   'tech': '科技',
      //-   'fun': '趣味'
      //- })
      select(name='type')
        option(value='culture') 文化
        option(value='life') 生活
        option(value='tech') 科技
        option(value='fun') 趣味

    div.input-control.text.span6
      mixin input('title', '标题')

    div.input-control.text.span6
      mixin textarea('intro', '描述', 5)

    div.input-control.text.span6
      mixin input('image', '图片')

    input(type='submit', value='创建')
