extends ../layout
include ../mixin/collection

block vars
  -var title='选集'
  -var page='page-collections'

block content
  div.row
    div.span12
      h2.c-type 文化
      mixin tcollection(cols, 'culture')

      h2.c-type 生活
      mixin tcollection(cols, 'life')

      h2.c-type 科技
      mixin tcollection(cols, 'tech')

      h2.c-type 趣味
      mixin tcollection(cols, 'fun')
