extends ../layout

block vars
  -var title='选集'
  -var page='page-collection'

block content
  div.row
    div.span8
      h2.page-header 文化

      h2.page-header 生活

      h2.page-header 科技

      h2.page-header 趣味