extends ../layout
include ../mixin/form

block vars
  -var title='创建话题'
  -var page='page-add-collection'

block content
  h2 创建话题

  mixin errors()

  form(action='/topic/add', method='post')
    div.input-control.select.span2
      mixin select('type', { 'culture': '文化', 'life': '生活', 'tech': '科技', 'fun': '趣味'})

    div.input-control.text.span6
      mixin text('title', '标题')

    div.input-control.text.span6
      mixin textarea('intro', '描述', 5)

    div.input-control.text.span6
      mixin text('image', '图片')

    input(type='submit', value='创建')
