extends ../layout
include ../mixin/form

block vars
  -var title = '创建话题'
  -var page = 'page-add-collection'

block content
  h2.mb15 创建话题

  div.row
    div.span8
      mixin errors()

      form(action='/topic/add', method='post').span6
        div.input-control.select
          mixin select('type', { 'culture': '文化', 'life': '生活', 'tech': '科技', 'fun': '趣味'})

        div.input-control.text
          mixin text('title', '标题')

        div.input-control.text
          mixin textarea('intro', '描述', 5)

        input(type='submit', value='创建')

    div.span4
      ul 
        li 任何人都可以创建话题
        li 请不要创建重复的话题
        li 创建后，由管理员进行维护
        