extends layout

block vars
  -var title = 'About Transy'
  -var page = 'page-about'

block content
  div.row
    div.span8
      h2.mb15 关于

      p 已经有 <a href='http://www.yeeyan.org/'>译言网</a> 了，Transy 还有存在的价值吗？

      ul
        li
          b 翻译助手：
          | 创造良好的翻译体验

        li
          b 凸显经典：
          | 经典，不会随时间的流失而褪色
    
    div.span4