extends layout

block content
  div.row
    div.span8
      each a in articles
        div.article-item
          a(href='/article/#{a.id}')
            h2 #{a.enTitle}
          p #{a.abstract}
    
    div.span4
      h3 近期热门
      

