extends layout
include mixin/article

block vars
  -var title = 'Transy翻译助手'
  -var page = 'page-index'

block content
  div.row
    div.span8
      h2.page-header 我的文章

      mixin articles(articles)
