doctype 5
html
  block vars
  head
    title #{title}
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/css/modern.css", rel="stylesheet")
    //- link(href="/css/modern-responsive.css", rel='stylesheet')
    link(href='/css/site.css', rel='stylesheet')
    script(src='/js/jquery.min.js')
    script(src='/js/buttonset.js')
    script(src='/js/dropdown.js')

  body.metrouicss(id='#{page}')
    div.page
      <!-- nav -->
      div.nav-bar
        div.nav-bar-inner.padding10       
          a(href="/")
            span.element.brand
              | Transy&nbsp;
              sup alpha

          span.divider

          ul.menu
            li
              a(href="/") 主页
            //- li
            //-   a(href="/select") 精选
            if locals.cookies.user
              li
                a(href="/my/articles") 我的译文
              li
                a(href="/my/love") 收藏

          ul.menu.place-right
            if locals.cookies.user
              li
                a(href='/article/add') 添加原文
              li(data-role="dropdown")
                a(href='#') #{locals.cookies.user.name}
                ul.dropdown-menu
                  li
                    a(href="/my/setting") 设置
                  li
                    a(href="/signout") 登出
            else
              li
                a(href="/signup") 注册
              li
                a(href='/signin') 登陆

      <!-- content -->
      div.grid
        block content
