doctype 5
html
  block vars
  head
    title #{title}
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/css/modern.css", rel="stylesheet")
    //- link(href="/css/modern-responsive.css", rel='stylesheet')
    link(href='/css/component.css', rel='stylesheet')
    link(href='/css/page.css', rel='stylesheet')
    script(src='/js/jquery.min.js')
    script(src='/js/buttonset.js')
    script(src='/js/dropdown.js')

  body.metrouicss(id='#{page}')
    div.page.content
      <!-- nav -->
      div.nav-bar
        div.nav-bar-inner.padding10       
          a(href="/")
            span.element.brand
              | Transy&nbsp;
              sup alpha

          span.divider

          ul.menu
            li
              a(href="/") 主页
            li
              a(href="/topics") 话题
            if locals.cookies.user
              li
                a(href="/u/#{locals.cookies.user.name}") 我

          ul.menu.place-right
            if locals.cookies.user
              li
                a(href='/topic/add') 创建话题
              li(data-role="dropdown")
                a(href='#') #{locals.cookies.user.name}
                ul.dropdown-menu
                  li
                    a(href="/u/setting") 设置
                  li
                    a(href="/signout") 登出
            else
              li
                a(href="/signup") 注册
              li
                a(href='/signin') 登陆

      <!-- content -->
      div.grid
        block content

    div.footer
      div.copyright
        | Transy 2013 © by&nbsp;
        a(href="http://hustlzp.com", target='_blank') hustlzp 

      div.links
        a(href='/about') About
        a(href='https://github.com/hustlzp/transy', target='_blank') GitHub

    <!--start of feedback code powered by geekui-->
    script(type="text/javascript", src="http://geekui.com/static/js/widgets.js")
    script(type="text/javascript", charset="utf-8")
      var options = {};
      options.product_sub_url = "transy";
      options.company_sub_url = "transy";
      options.placement = "right";
      options.tab_define = false;
      options.display = "overlay";
      options.style = "gray_right.png";
      var feedback_widget = new GKFN.feedback_widget(options);
    <!--end of feedback code powered by geekui-->
