extends layout

block vars
  -var title = '通知'
  -var page = 'page-message'

block content
  div.row
    div.span8
      h3 #{header}
      p #{text}
      //- div.notices
      //-   div.bg-color-green
      //-     div.notice-header #{header}
      //-     div.notice-text #{text}
    
    div.span4
