extends ../layout
include ../mixin/article

block vars
  -var title = u.name + '的收藏'
  -var page = 'page-user-collects'

block content
  div.row
    div.span8
      h2.page-header #{u.name} / 收藏

      mixin articles(articles)

    div.span4
      div.button-set.place-right(data-role='button-set')
        a.button(href='/u/#{u.name}')
          | 译文

        a.button.active(href='/u/#{u.name}/collects')
          | 收藏

        a.button(href='/u/#{u.name}/comments')
          | 回复