extends ../layout
include ../mixin/collection

block vars
  -var title='我的选集'
  -var page='page-my-collections'

block content
  div.row
    div.span8
      h2.mb15.clear 我创建的选集
      mixin collection(cols)

      //- h2.mb15.clear 我参与的选集
      //- mixin collection(cols)

    div.span4
      div.button-set.place-right(data-role='button-set')
        a.button(href='/u/#{u.name}')
          | 译文

        a.button(href='/u/#{u.name}/love')
          | 收藏

        a.button.active(href='/u/#{u.name}/collections')
          | 选集