extends ../layout
include ../mixin/form

block vars
  -var title = '个人设置'
  -var page = 'page-user-setting'

block content
  div.row
    div.span8
      h2.page-header 个人设置

      h3 密码重置

      mixin errors()

      form(action='/u/settings', method='post').span6
        div.input-control.text
          input(type='password', name='pwd', placeholder='原密码')

        div.input-control.text
          input(type='password', name='newPwd', placeholder='新密码')

        div.input-control.text    
          input(type='password', name='reNewPwd', placeholder='重复新密码')

        input(type='submit', value='保存')
