extends ../layout
include ../mixin/form

block vars
  -var title = '新文章'
  -var page = 'page-add-article'

block content
  h2.form-header 新文章

  div.row
    div.span8
      mixin errors()

      form(action='/article/add', method='post')
        div.input-control.text
          mixin text('title', '标题')

        div.input-control.text
          mixin text('author', '作者')

        div.input-control.text
          mixin text('url', '链接')

        div.input-control.textarea
          mixin textarea('content', '正文', 20)

        input(type='submit', value='创建')
    
    div.span4