extends ../layout
include ../mixin/form

block vars
  -var title='添加原文'
  -var page='page-add-article'

block content
  h2 添加原文

  mixin errors()

  form(action='/article/add/#{tid}', method='post')
    div.input-control.text.span6
      mixin text('title', '标题')

    div.input-control.text.span6
      mixin text('author', '作者')

    div.input-control.text.span6
      mixin text('url', '链接')

    div.input-control.textarea.span10
      mixin textarea('content', '正文', 20)

    input(type='submit', value='创建')
