extends ../layout
include ../mixin/form

block vars
  -var title = '添加原文'
  -var page = 'page-add-article'

block content
  h2.mb15 添加原文

  div.row
    div.span8
      mixin errors()

      form(action='/article/add/#{tid}', method='post')
        div.input-control.text
          mixin text('title', '标题')

        div.input-control.text
          mixin text('author', '作者')

        div.input-control.text
          mixin text('url', '链接')

        div.input-control.textarea
          mixin textarea('content', '正文', 20)

        input(type='submit', value='创建')
    
    div.span4
      ul
        li 请在合适的话题下添加文章
        li 原文质量，是译文质量的基石
        li 经典，永不褪色
