html,body.metrouicss{height:100%;}
.metrouicss{}.metrouicss .page{width:940px;margin:auto;}
.metrouicss .nav-bar{margin-bottom:20px;}.metrouicss .nav-bar .nav-bar-inner>.divider{margin-left:10px;margin-right:10px;}
.metrouicss .content{height:auto;min-height:100%;padding-bottom:5em;}
.metrouicss .footer{clear:both;position:relative;z-index:10;height:2.8em;margin-top:-2.8em;padding-top:0.5em;text-align:center;border-top:1px dashed #ddd;width:940px;margin-left:auto;margin-right:auto;}.metrouicss .footer a{font-size:12px;}
.metrouicss .footer .copyright{font-size:12px;float:left;}
.metrouicss .footer .links{float:right;}.metrouicss .footer .links a{margin-left:15px;}
.metrouicss ul{margin-left:5px;}.metrouicss ul li{margin-bottom:2px;}
.metrouicss textarea,.metrouicss input{font-family:'Open Sans','宋体';font-weight:400;}
.metrouicss .page-header{border-bottom:1px solid lightgray;padding-bottom:13px;margin-bottom:15px;clear:both;}
.metrouicss .form-header{margin-bottom:15px;}
.metrouicss .fg-color-gray{color:#666;}
.metrouicss .mb10{margin-bottom:10px;}
.metrouicss .mb15{margin-bottom:15px;}
.metrouicss .mb20{margin-bottom:20px;}
.metrouicss .mb25{margin-bottom:25px;}
.metrouicss .clear{clear:both;}
.metrouicss .article-item{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #eee;position:relative;}.metrouicss .article-item .cn-title{margin-bottom:8px;font-size:18px;font-family:'Arial','宋体';font-weight:bold;color:#333;}
.metrouicss .article-item .info-wap{color:#666;font-size:14px;}.metrouicss .article-item .info-wap a{font-size:14px;}
.metrouicss .article-item .info-wap .divider{display:inline-block;width:15px;}
.metrouicss .article-item .completion{position:absolute;bottom:10px;right:5px;color:#333;}
.metrouicss .topic-item{width:285px;margin:0 25px 15px 0;padding:15px 15px;border:1px solid #ddd;float:left;position:relative;color:#333;}.metrouicss .topic-item img{width:60px;height:60px;float:left;}
.metrouicss .topic-item .t-title{font-weight:600;font-family:'Arial','宋体';}
.metrouicss .topic-item .t-info-wap{margin-left:75px;}
.metrouicss .topic-item:hover{color:#333;background-color:#fbfbfb;}
.metrouicss .topic-item .t-article-count{position:absolute;bottom:10px;right:10px;color:#666;}
.metrouicss .comment-item{margin-bottom:10px;padding-bottom:10px;position:relative;}.metrouicss .comment-item .c-user-avatar{width:60px;height:60px;float:left;}
.metrouicss .comment-item .c-content-wap{margin-left:75px;}.metrouicss .comment-item .c-content-wap .c-user{display:inline-block;margin-bottom:8px;color:#666;}
.metrouicss .comment-item .c-content-wap .c-content{margin-bottom:5px;}
.metrouicss .comment-item .c-content-wap .c-time{font-size:12px;color:#666;}
.metrouicss .comment-item .toolbar{position:absolute;top:5px;right:5px;margin-right:0;}.metrouicss .comment-item .toolbar a{margin-left:5px;}
