html, body.metrouicss{
    height: 100%;
}

.metrouicss{

/* Global styles
----------------------------------------------------*/
.page{
    width: 940px;
    margin: auto;
}

.nav-bar{
    margin-bottom: 20px;

    .nav-bar-inner > .divider{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.content{
    height: auto;
    min-height: 100%;
    padding-bottom: 5em;
}

.footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 2.5em;
    margin-top: -2.5em;
    padding-top: 0.4em;
    text-align: center;
    border-top: 1px dashed #ddd;
    width: 940px;
    margin-left: auto;
    margin-right: auto;

    a{
        font-size: 12px;
    }

    .copyright{
        font-size: 12px;
        float: left;
    }

    .links{
        float: right;
        
        a{
            margin-left: 15px;
        }
    }
}

ul{
    margin-left: 0px;
}

textarea, input{
    font-family: 'Open Sans', '宋体';
    font-weight: 400;
}

.page-header{
    border-bottom: 1px solid lightgray;
    padding-bottom: 13px;
    margin-bottom: 15px;
    clear: both;
}

.form-header{
    margin-bottom: 15px;
}

/* useful class
----------------------------------------------------*/
.fg-color-gray{
    color: #666;
}

.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb25{
    margin-bottom: 25px;
}

.clear{
    clear: both;
}

/* article item
----------------------------------------------------*/
.article-item{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    position: relative;

    .cn-title{
        margin-bottom: 8px;
        font-size: 18px;
        font-family: 'Arial', '宋体';
        font-weight: bold;
        color: #333;
    }

    .info-wap{
        color: #666;
        
        font-size: 14px;

        a{
            font-size: 14px;
        }

        .divider{
            display: inline-block;
            width: 15px;
        }
    }

    .completion{
        position: absolute;
        bottom: 10px;
        right: 5px;
        color: #333;
    }
}

/* topic item
----------------------------------------------------*/
.topic-item{
    width: 285px;
    margin: 0 25px 15px 0;
    padding: 15px 15px;
    border: 1px solid #ddd;
    float: left;
    position: relative;
    color: #333;

    img{
        width: 60px;
        height: 60px;
        float: left;
    }

    .t-title{
        font-weight: 600;
        font-family: 'Arial', '宋体';
    }

    .t-info-wap{
        margin-left: 75px;
    }

    &:hover{
        color: #333;
        background-color: #fbfbfb;
    }

    .t-article-count{
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #666;
    }
}

/* comment item
----------------------------------------------------*/
.comment-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;

    .c-content-wap{
        .c-header{
            display: inline-block;
            margin-bottom: 8px;
            color: #666;
        }

        .c-content{
            margin-bottom: 5px;
        }

        .c-time{
            font-size: 12px;
            color: #666;
        }
    }

    .toolbar{
        position: absolute;
        top: 10px;
        right: 5px;
        margin-right: 0;

        a{
            margin-left: 5px;
        }
    }
}

}