.metrouicss{

/* public layout
----------------------------------------------------*/
.page{
    width: 940px;
    margin: auto;
}

.nav-bar{
    margin-bottom: 20px;

    .nav-bar-inner > .divider{
        margin-left: 10px;
        margin-right: 10px;
    }
}

ul{
    margin-left: 5px;
}

.page-header{
    border-bottom: 1px solid lightgray;
    padding-bottom: 13px;
    margin-bottom: 15px;
    clear: both;
}

/* useful class
----------------------------------------------------*/
.fg-color-gray{
    color: #666;
}

.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}

.clear{
    clear: both;
}

/* article item
----------------------------------------------------*/
.article-item{
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #eee;

    .cn-title{
        margin-bottom: 8px;
        font-weight: normal;
        color: #333;
    }

    .en-title{
        margin-bottom: 8px;
        font-weight: 200;
        color: #666;
    }

    .info-wap{
        color: #666;
        position: relative;

        .divider{
            display: inline-block;
            width: 15px;
        }

        .completion{
            position: absolute;
            bottom: 0;
            right: 5px;
            color: #333;
        }
    }
}

/* topic item
----------------------------------------------------*/
.topic-item{
    width: 285px;
    margin: 0 25px 15px 0;
    padding: 15px 15px;
    border: 1px solid #ddd;
    float: left;
    position: relative;
    color: #333;

    img{
        width: 60px;
        height: 60px;
        float: left;
    }

    .t-info-wap{
        margin-left: 75px;
    }

    &:hover{
        color: #333;
        background-color: #fbfbfb;
    }

    .t-article-count{
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #666;
    }
}

/* topic item
----------------------------------------------------*/
.comment-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;

    .c-user-avatar{

        width: 60px;
        height: 60px;
        float: left;
    }

    .c-content-wap{
        margin-left: 75px;

        .c-user{
            display: inline-block;
            margin-bottom: 8px;
            color: #666;
        }

        .c-content{
            margin-bottom: 5px;
        }

        .c-time{
            font-size: 12px;
            color: #666;
        }
    }

    .btn-remove-comment{
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: 0;
    }
}

}