.metrouicss{}.metrouicss .page{width:940px;margin:auto;}
.metrouicss .nav-bar{margin-bottom:20px;}.metrouicss .nav-bar .nav-bar-inner>.divider{margin-left:10px;margin-right:10px;}
.metrouicss ul{margin-left:5px;}
.metrouicss .page-header{border-bottom:1px solid lightgray;padding-bottom:13px;margin-bottom:15px;clear:both;}
.metrouicss .form-header{margin-bottom:15px;}
.metrouicss .fg-color-gray{color:#666;}
.metrouicss .mb10{margin-bottom:10px;}
.metrouicss .mb15{margin-bottom:15px;}
.metrouicss .mb20{margin-bottom:20px;}
.metrouicss .mb25{margin-bottom:25px;}
.metrouicss .clear{clear:both;}
.metrouicss .article-item{padding-bottom:12px;margin-bottom:12px;border-bottom:1px solid #eee;}.metrouicss .article-item .cn-title{margin-bottom:8px;font-weight:normal;color:#333;font-weight:600;}
.metrouicss .article-item .en-title{margin-bottom:8px;font-weight:200;color:#666;}
.metrouicss .article-item .info-wap{color:#666;position:relative;}.metrouicss .article-item .info-wap .divider{display:inline-block;width:15px;}
.metrouicss .article-item .info-wap .completion{position:absolute;bottom:0;right:5px;color:#333;}
.metrouicss .topic-item{width:285px;margin:0 25px 15px 0;padding:15px 15px;border:1px solid #ddd;float:left;position:relative;color:#333;}.metrouicss .topic-item img{width:60px;height:60px;float:left;}
.metrouicss .topic-item .t-title{font-weight:600;}
.metrouicss .topic-item .t-info-wap{margin-left:75px;}
.metrouicss .topic-item:hover{color:#333;background-color:#fbfbfb;}
.metrouicss .topic-item .t-article-count{position:absolute;bottom:10px;right:10px;color:#666;}
.metrouicss .comment-item{margin-bottom:10px;padding-bottom:10px;position:relative;}.metrouicss .comment-item .c-user-avatar{width:60px;height:60px;float:left;}
.metrouicss .comment-item .c-content-wap{margin-left:75px;}.metrouicss .comment-item .c-content-wap .c-user{display:inline-block;margin-bottom:8px;color:#666;}
.metrouicss .comment-item .c-content-wap .c-content{margin-bottom:5px;}
.metrouicss .comment-item .c-content-wap .c-time{font-size:12px;color:#666;}
.metrouicss .comment-item .btn-remove-comment{position:absolute;top:5px;right:0;margin-right:0;}
