.metrouicss{}.metrouicss .article-item{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #eee;}.metrouicss .article-item .en-title{margin-bottom:8px;font-weight:normal;color:#333;}
.metrouicss .article-item .cn-title{margin-bottom:8px;font-weight:normal;color:#666;}
.metrouicss .article-item .info-wap{color:#666;position:relative;}.metrouicss .article-item .info-wap .divider{display:inline-block;margin-left:15px;}
.metrouicss .article-item .info-wap .completion{position:absolute;bottom:0;right:5px;}
.metrouicss .c-item{width:180px;height:180px;margin:0 15px 15px 0;padding:15px 15px;border:1px dashed #aaa;float:left;position:relative;color:#333;}.metrouicss .c-item:hover{color:#333;background-color:#fbfbfb;}
.metrouicss .c-item .a-count{position:absolute;bottom:15px;right:15px;}
