.metrouicss{
    .page{
        width: 940px;
        margin: auto;
    }

    .nav-bar{
        margin-bottom: 20px;

        .btn-add-article{
        	margin: 0;
        	float: right;
        }
    }
}

#page-edit-article{
	outline: none;

	.title{
		margin-bottom: 10px;

		.cn-title,
		.en-title{
			// padding: 10px 0px;
			margin: 0;
			display: inline-block;
			outline: none;
			min-width: 50px;
		}

		.title-divider{
			display: inline-block;
			padding: 0 15px;
		}		
	}

	.url{
		margin-bottom: 15px;

		.label{
			margin-right: 10px;
		}

		span{
			outline: none;
		}
	}

	.para-list{
		margin-bottom: 15px;

		.en,
		.cn{
			outline: none;
			display: inline-block;
			width: 48%;
			vertical-align: text-top;
		}

		.ec-divider{
			display: inline-block;
			width: 1%;
			margin-left: 1%;
			margin-right: 2%;
			background-color: black;
			height: 100%;
			vertical-align: text-top;
		}
	}

}