extends ../layout
include ../mixin/article

block vars
  -var title = 'Transy翻译助手'
  -var page = 'page-index'

block content
  div.row
    div.span8
      h2.page-header 译文

      mixin articles(articles)