extends ../layout
include ../mixin/form

block vars
  -var title = '登陆'
  -var page = 'page-signin'

block content
  form(action='/signin', method='post').span6
    h2.form-header 登陆

    mixin errors()

    div.input-control.text
      mixin text('email', '邮箱')

    div.input-control.text
      mixin password('pwd', '密码')

    input(type='submit', value='登陆')