//- article item 
mixin articles(articles)
  each a in articles
    div.article-item
      a(href='/article/#{a.id}')
        h3.cn-title #{a.cnTitle}
      
      div.info-wap
        span #{a.createTime}

      span.completion #{a.completion}%