<h1 class="cn-title">{{article.cnTitle}}</h1>

<h2 class="en-title">{{article.enTitle}}</h2>

<div class="article-meta">
  <span>作者：{{article.author}}</span>
  <span>来源：<a ng-href="{{article.url}}" target="_blank">{{article.url}}</a></span>
  <span class="completion">{{article.completion}}%</span>
</div>

<div class="row">
  <div class="col-sm-8">
    <div ng-bind-html="html"></div>
  </div>

  <div class="col-sm-4">
    <div class="btn-group">
      <button href="#" class="btn btn-default btn-sel-cn">中</button>
      <button href="#" class="btn btn-default btn-sel-ec">中 / 英</button>
      <button href="#" class="btn btn-default btn-sel-en">英</button>
    </div>
    <div class="btn-group">
      <button href="#" ng-click="edit()" class="btn btn-default">
        <i class="fa fa-pencil"></i> 编辑
      </button>
      <button href="#" ng-click="remove()" class="btn btn-default">
        <i class="fa fa-trash-o"></i> 删除
      </button>
    </div>
  </div>
</div>