<h2>{{article.cnTitle}}</h2>

<h2>{{article.enTitle}}</h2>

<div>
  作者：
  {{article.author}}
  来源：
  <a ng-href="{{article.url}}" target="_blank">{{article.url}}</a>
  {{article.completion}}%
</div>

<hr/>

<div class="row">
  <div class="col-sm-8">
    <div ng-bind-html="html"></div>
  </div>

  <div class="col-sm-4">
    <div class="btn-group">
      <a href="#" class="btn btn-default btn-sel-cn">中</a>
      <a href="#" class="btn btn-default btn-sel-ec">中 / 英</a>
      <a href="#" class="btn btn-default btn-sel-en">英</a>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-default">
        <i class="fa fa-pencil"></i> 编辑
      </a>
      <a href="#" class="btn btn-default">
        <i class="fa fa-trash-o"></i> 删除
      </a>
    </div>
  </div>
</div>

