<div class="title-wap">
  <input type="text" ng-model="article.cnTitle" class="cn-title">
  <input type="text" ng-model="article.enTitle" class="en-title"/>
</div>

<div class="author-wap">
  <span class="label label-warning">作者</span>
  <input type="text" class="input-author" ng-model="article.author"/>
</div>

<div class="url-wap">
  <span class="label label-warning">链接</span>
  <input type="text" class="input-url" ng-model="article.url"/>
</div>
{{index}}

<button class="btn btn-default" ng-click="save()">保存</button>

<div ng-repeat="p in article.paraList" class="para clearfix" data-type="{{p.type}}"
     contextmenu data-index="{{$index}}">
  <div class="en" ng-if="p.type === 'image'"><img src="{{p.en}}" alt=""/></div>
  <div class="en" ng-if="p.type !== 'image'" contenteditable ng-model="p.en"></div>

  <div class="ec-divider" data-state="{{p.state}}"></div>

  <div class="cn" ng-if="p.type === 'image'"><img src="{{p.en}}" alt=""/></div>
  <div class="cn" ng-if="p.type !== 'image'" contenteditable ng-model="p.cn"></div>
</div>

<ul class="context-menu">
  <li class="only-for-text">
    格式
    <ul class="sub-menu">
      <li class="header" ng-click="changeType('header')">标题</li>
      <li class="header" ng-click="changeType('text')">正文</li>
      <li class="quote" ng-click="changeType('quote')">引用</li>
    </ul>
  </li>
  <li class="add-para">
    增加段落
    <ul class="sub-menu">
      <li class="up" ng-click="addAbove()">上方</li>
      <li class="down" ng-click="addBelow()">下方</li>
    </ul>
  </li>
  <li class="remove-para" ng-click="remove()">删除段落</li>
</ul>
